In [2]:
import pandas as pd
from pathlib import Path

In [3]:
filepath = Path("Resources/naturalgas_residential_texas.csv")
residential_naturalgas = pd.read_csv(filepath)

In [4]:
residential_naturalgas

,Date,Texas Price of Natural Gas Delivered to Residential Consumers (Dollars per Thousand Cubic Feet)
0,Jan-1989,5.11
1,Feb-1989,5.10
2,Mar-1989,5.21
3,Apr-1989,5.83
4,May-1989,6.53
...,...,...
366,Jul-2019,20.17
367,Aug-2019,22.22
368,Sep-2019,22.40
369,Oct-2019,21.13
370,Nov-2019,9.98

In [5]:
residential_naturalgas['Date'] = pd.to_datetime(residential_naturalgas.Date, format='%b-%Y', dayfirst=True)

In [6]:
residential_naturalgas.reset_index(inplace=True)
residential_naturalgas['Date'] = residential_naturalgas['Date'].apply(lambda x: x.strftime('%Y-%m'))
residential_naturalgas.set_index('Date', inplace=True)

In [7]:
residential_naturalgas.drop(['index'], axis=1, inplace=True)

In [8]:
residential_naturalgas.rename(columns={"Texas Price of Natural Gas Delivered to Residential Consumers (Dollars per Thousand Cubic Feet)": "NG Residential Price"}, inplace=True)

In [9]:
residential_naturalgas

         NG Residential Price
Date
1989-01                  5.11
1989-02                  5.10
1989-03                  5.21
1989-04                  5.83
1989-05                  6.53
...                       ...
2019-07                 20.17
2019-08                 22.22
2019-09                 22.40
2019-10                 21.13
2019-11                  9.98

[371 rows x 1 columns]