In [18]:
import pandas as pd
from pathlib import Path

In [23]:
filepath = Path("Resources/naturalgate_citygate_texas.csv")
citygate_naturalgas = pd.read_csv(filepath)

In [24]:
citygate_naturalgas

,Date,Natural Gas Citygate Price in Texas (Dollars per Thousand Cubic Feet)
0,Jan-1989,3.26
1,Feb-1989,3.41
2,Mar-1989,3.37
3,Apr-1989,3.07
4,May-1989,3.22
...,...,...
366,Jul-2019,2.80
367,Aug-2019,2.89
368,Sep-2019,2.59
369,Oct-2019,2.58
370,Nov-2019,2.87

In [25]:
citygate_naturalgas['Date'] = pd.to_datetime(citygate_naturalgas.Date, format='%b-%Y', dayfirst=True)

In [26]:
citygate_naturalgas.reset_index(inplace=True)
citygate_naturalgas['Date'] = citygate_naturalgas['Date'].apply(lambda x: x.strftime('%Y-%m'))
citygate_naturalgas.set_index('Date', inplace=True)

In [27]:
citygate_naturalgas.drop(['index'], axis=1, inplace=True)

In [32]:
citygate_naturalgas.rename(columns={"Natural Gas Citygate Price in Texas (Dollars per Thousand Cubic Feet)": "NG CityGate Price"}, inplace=True)

In [33]:
citygate_naturalgas

         NG CityGate Price
Date
1989-01               3.26
1989-02               3.41
1989-03               3.37
1989-04               3.07
1989-05               3.22
...                    ...
2019-07               2.80
2019-08               2.89
2019-09               2.59
2019-10               2.58
2019-11               2.87

[371 rows x 1 columns]