In [76]:
import pandas as pd
from pathlib import Path

In [77]:
filepath = Path("Resources/naturalgas_commercial_texas.csv")
commercial_naturalgas = pd.read_csv(filepath)

In [78]:
commercial_naturalgas

,Date,Texas Price of Natural Gas Sold to Commercial Consumers (Dollars per Thousand Cubic Feet)
0,Jan-1989,4.25
1,Feb-1989,4.30
2,Mar-1989,4.12
3,Apr-1989,3.93
4,May-1989,3.96
...,...,...
366,Jul-2019,6.49
367,Aug-2019,6.78
368,Sep-2019,6.92
369,Oct-2019,7.03
370,Nov-2019,NaN

In [79]:
commercial_naturalgas['Date'] = pd.to_datetime(commercial_naturalgas.Date, format='%b-%Y', dayfirst=True)

In [80]:
commercial_naturalgas.reset_index(inplace=True)
commercial_naturalgas['Date'] = commercial_naturalgas['Date'].apply(lambda x: x.strftime('%Y-%m'))
commercial_naturalgas.set_index('Date', inplace=True)

In [81]:
commercial_naturalgas.drop(['index'], axis=1, inplace=True)

In [82]:
commercial_naturalgas.rename(columns={'Texas Price of Natural Gas Sold to Commercial Consumers (Dollars per Thousand Cubic Feet)':'NG Commercial Price'}, inplace=True)

In [83]:
commercial_naturalgas

         NG Commercial Price
Date
1989-01                 4.25
1989-02                 4.30
1989-03                 4.12
1989-04                 3.93
1989-05                 3.96
...                      ...
2019-07                 6.49
2019-08                 6.78
2019-09                 6.92
2019-10                 7.03
2019-11                  NaN

[371 rows x 1 columns]