In [1]:
import pandas as pd
from pathlib import Path

In [2]:
filepath = Path("Resources/naturalgas_idustrial_texas.csv")
industrial_naturalgas = pd.read_csv(filepath)

In [3]:
industrial_naturalgas

,Date,Texas Natural Gas Industrial Price (Dollars per Thousand Cubic Feet)
0,Jan-2001,9.34
1,Feb-2001,6.35
2,Mar-2001,5.24
3,Apr-2001,5.36
4,May-2001,4.80
...,...,...
222,Jul-2019,2.59
223,Aug-2019,2.39
224,Sep-2019,2.53
225,Oct-2019,2.54
226,Nov-2019,2.76

In [4]:
industrial_naturalgas['Date'] = pd.to_datetime(industrial_naturalgas.Date, format='%b-%Y', dayfirst=True)

In [5]:
industrial_naturalgas.reset_index(inplace=True)
industrial_naturalgas['Date'] = industrial_naturalgas['Date'].apply(lambda x: x.strftime('%Y-%m'))
industrial_naturalgas.set_index('Date', inplace=True)

In [6]:
industrial_naturalgas.drop(['index'], axis=1, inplace=True)

In [7]:
industrial_naturalgas.rename(columns={"Texas Natural Gas Industrial Price (Dollars per Thousand Cubic Feet)": "NG Industrial Price"}, inplace=True)

In [8]:
industrial_naturalgas

         NG Industrial Price
Date
2001-01                 9.34
2001-02                 6.35
2001-03                 5.24
2001-04                 5.36
2001-05                 4.80
...                      ...
2019-07                 2.59
2019-08                 2.39
2019-09                 2.53
2019-10                 2.54
2019-11                 2.76

[227 rows x 1 columns]