In [193]:
import spacy
import datetime
import time
import pandas as pd
import numpy as np
from pathlib import Path

In [194]:
#read in pickle file as dataframe and drop unnecessary columns
spacy_analysis = pd.read_pickle("vader_picke_file.pkl").drop(columns=['VADER snippet neg', 'VADER snippet neu', 'VADER snippet pos', 'VADER snippet compound'])

In [195]:
spacy_analysis

,abstract,web_url,snippet,pub_date,_id,article,date
0,"It was a year full of big environmental news, ...",https://green.blogs.nytimes.com/2010/12/31/201...,"It was a year full of big environmental news, ...",2010-12-31T23:00:27+0000,nyt://article/6932d941-5087-54fd-a1ac-9b625bd9...,,2010-12-31
1,The first federal regulations on climate-alter...,https://www.nytimes.com/2010/12/31/science/ear...,The first federal regulations on climate-alter...,2010-12-31T01:47:00+0000,nyt://article/3cc71f15-7131-58f9-b561-81115150...,,2010-12-31
2,About $11 billion in oil and natural gas trade...,https://www.nytimes.com/2010/12/31/business/gl...,About $11 billion in oil and natural gas trade...,2010-12-30T20:21:30+0000,nyt://article/d8808e92-9912-50bf-b1f4-efd46aef...,,2010-12-30
3,"Recent years have been humbling for oil bulls,...",https://www.nytimes.com/2010/12/30/business/30...,"Recent years have been humbling for oil bulls,...",2010-12-30T02:34:46+0000,nyt://article/a3ab7378-223e-5c33-a8bd-48da47e0...,,2010-12-30
4,Crude oil traded over $90 for a fifth consecut...,https://www.nytimes.com/2010/12/30/business/30...,Crude oil traded over $90 for a fifth consecut...,2010-12-29T14:06:12+0000,nyt://article/8cf8d370-fd0b-5889-a8af-3745ada9...,,2010-12-29
...,...,...,...,...,...,...,...
1515,Weakened demand for semiconductors is hurting ...,https://www.nytimes.com/2019/02/04/business/de...,Weakened demand for semiconductors is hurting ...,2019-02-04T11:36:40+0000,nyt://article/aafb4f40-2c93-594a-aa27-fb393869...,NaN,2019-02-04
1516,"Innovation, investment and inviting geology ha...",https://www.nytimes.com/2019/02/03/business/en...,"Innovation, investment and inviting geology ha...",2019-02-03T23:17:02+0000,nyt://article/e87a597c-b98d-53e2-b12e-77299594...,NaN,2019-02-03
1517,On one side of a barricade in remote British C...,https://www.nytimes.com/2019/01/27/world/ameri...,On one side of a barricade in remote British C...,2019-01-27T23:45:27+0000,nyt://article/c0a4f5aa-aa5a-5e53-a1ed-c2352389...,NaN,2019-01-27
1518,The United States’ recognition of Venezuela’s ...,https://www.nytimes.com/2019/01/24/world/ameri...,The United States’ recognition of Venezuela’s ...,2019-01-25T00:29:52+0000,nyt://article/ca892451-61a1-525c-91e7-0c2bd832...,NaN,2019-01-25
1519,"By 2070, there is the potential for a very dif...",https://www.nytimes.com/paidpost/shell/ul/movi...,"By 2070, there is the potential for a very dif...",2019-01-10T16:58:07+0000,nyt://paidpost/514f188f-2e55-5246-b853-9a00e7c...,NaN,2019-01-10

In [196]:
#use spacy to tokenize data and them retreive the lemmanized data
tokens = []
lemma = []

for doc in nlp.pipe(spacy_analysis['abstract'].astype('unicode').values):
    if doc.is_parsed:
        tokens.append([n.text for n in doc])
        lemma.append([n.lemma_ for n in doc
                        if not n.is_stop
                        and not n.is_punct])

    else:
        tokens.append(None)
        lemma.append(None)


spacy_analysis['abstract_tokens'] = tokens
spacy_analysis['abstract_lemma'] = lemma

In [197]:
spacy_analysis

,abstract,web_url,snippet,pub_date,_id,article,date,abstract_tokens,abstract_lemma
0,"It was a year full of big environmental news, ...",https://green.blogs.nytimes.com/2010/12/31/201...,"It was a year full of big environmental news, ...",2010-12-31T23:00:27+0000,nyt://article/6932d941-5087-54fd-a1ac-9b625bd9...,,2010-12-31,"[It, was, a, year, full, of, big, environmenta...","[year, big, environmental, news, BP, oil, spil..."
1,The first federal regulations on climate-alter...,https://www.nytimes.com/2010/12/31/science/ear...,The first federal regulations on climate-alter...,2010-12-31T01:47:00+0000,nyt://article/3cc71f15-7131-58f9-b561-81115150...,,2010-12-31,"[The, first, federal, regulations, on, climate...","[federal, regulation, climate, alter, gas, fac..."
2,About $11 billion in oil and natural gas trade...,https://www.nytimes.com/2010/12/31/business/gl...,About $11 billion in oil and natural gas trade...,2010-12-30T20:21:30+0000,nyt://article/d8808e92-9912-50bf-b1f4-efd46aef...,,2010-12-30,"[About, $, 11, billion, in, oil, and, natural,...","[$, 11, billion, oil, natural, gas, trade, imp..."
3,"Recent years have been humbling for oil bulls,...",https://www.nytimes.com/2010/12/30/business/30...,"Recent years have been humbling for oil bulls,...",2010-12-30T02:34:46+0000,nyt://article/a3ab7378-223e-5c33-a8bd-48da47e0...,,2010-12-30,"[Recent, years, have, been, humbling, for, oil...","[recent, year, humble, oil, bull, hang, humili..."
4,Crude oil traded over $90 for a fifth consecut...,https://www.nytimes.com/2010/12/30/business/30...,Crude oil traded over $90 for a fifth consecut...,2010-12-29T14:06:12+0000,nyt://article/8cf8d370-fd0b-5889-a8af-3745ada9...,,2010-12-29,"[Crude, oil, traded, over, $, 90, for, a, fift...","[crude, oil, trade, $, 90, fifth, consecutive,..."
...,...,...,...,...,...,...,...,...,...
1515,Weakened demand for semiconductors is hurting ...,https://www.nytimes.com/2019/02/04/business/de...,Weakened demand for semiconductors is hurting ...,2019-02-04T11:36:40+0000,nyt://article/aafb4f40-2c93-594a-aa27-fb393869...,NaN,2019-02-04,"[Weakened, demand, for, semiconductors, is, hu...","[weakened, demand, semiconductor, hurt, financ..."
1516,"Innovation, investment and inviting geology ha...",https://www.nytimes.com/2019/02/03/business/en...,"Innovation, investment and inviting geology ha...",2019-02-03T23:17:02+0000,nyt://article/e87a597c-b98d-53e2-b12e-77299594...,NaN,2019-02-03,"[Innovation, ,, investment, and, inviting, geo...","[innovation, investment, invite, geology, give..."
1517,On one side of a barricade in remote British C...,https://www.nytimes.com/2019/01/27/world/ameri...,On one side of a barricade in remote British C...,2019-01-27T23:45:27+0000,nyt://article/c0a4f5aa-aa5a-5e53-a1ed-c2352389...,NaN,2019-01-27,"[On, one, side, of, a, barricade, in, remote, ...","[barricade, remote, British, Columbia, member,..."
1518,The United States’ recognition of Venezuela’s ...,https://www.nytimes.com/2019/01/24/world/ameri...,The United States’ recognition of Venezuela’s ...,2019-01-25T00:29:52+0000,nyt://article/ca892451-61a1-525c-91e7-0c2bd832...,NaN,2019-01-25,"[The, United, States, ’, recognition, of, Vene...","[United, States, recognition, Venezuela, ’s, o..."
1519,"By 2070, there is the potential for a very dif...",https://www.nytimes.com/paidpost/shell/ul/movi...,"By 2070, there is the potential for a very dif...",2019-01-10T16:58:07+0000,nyt://paidpost/514f188f-2e55-5246-b853-9a00e7c...,NaN,2019-01-10,"[By, 2070, ,, there, is, the, potential, for, ...","[2070, potential, different, energy, system, e..."

In [198]:
spacy_clean = spacy_analysis.drop(columns=['abstract', 'web_url', 'snippet', 'pub_date', '_id', 'article', 'abstract_tokens'])

In [199]:
spacy_clean

            date                                     abstract_lemma
0     2010-12-31  [year, big, environmental, news, BP, oil, spil...
1     2010-12-31  [federal, regulation, climate, alter, gas, fac...
2     2010-12-30  [$, 11, billion, oil, natural, gas, trade, imp...
3     2010-12-30  [recent, year, humble, oil, bull, hang, humili...
4     2010-12-29  [crude, oil, trade, $, 90, fifth, consecutive,...
...          ...                                                ...
1515  2019-02-04  [weakened, demand, semiconductor, hurt, financ...
1516  2019-02-03  [innovation, investment, invite, geology, give...
1517  2019-01-27  [barricade, remote, British, Columbia, member,...
1518  2019-01-25  [United, States, recognition, Venezuela, ’s, o...
1519  2019-01-10  [2070, potential, different, energy, system, e...

[1262 rows x 2 columns]

In [216]:
spacy_clean

            date                                     abstract_lemma
0     2010-12-31  [year, big, environmental, news, BP, oil, spil...
1     2010-12-31  [federal, regulation, climate, alter, gas, fac...
2     2010-12-30  [$, 11, billion, oil, natural, gas, trade, imp...
3     2010-12-30  [recent, year, humble, oil, bull, hang, humili...
4     2010-12-29  [crude, oil, trade, $, 90, fifth, consecutive,...
...          ...                                                ...
1515  2019-02-04  [weakened, demand, semiconductor, hurt, financ...
1516  2019-02-03  [innovation, investment, invite, geology, give...
1517  2019-01-27  [barricade, remote, British, Columbia, member,...
1518  2019-01-25  [United, States, recognition, Venezuela, ’s, o...
1519  2019-01-10  [2070, potential, different, energy, system, e...

[1262 rows x 2 columns]

In [200]:
#combine data for each date into one column
lemma_combined_date_df = spacy_clean.groupby('date')['abstract_lemma'].apply(list).reset_index(name='combined_lemma_by_date')

In [201]:
lemma_combined_date_df

           date                             combined_lemma_by_date
0    2010-01-04  [[country, fail, renew, agreement, crude, oil,...
1    2010-01-05  [[PetroBakken, Energy, say, pay, $, 262, milli...
2    2010-01-06  [[secretary, Ken, Salazar, say, goal, new, rev...
3    2010-01-07  [[adopt, standard, impose, large, cost, local,...
4    2010-01-13  [[Spectra, Energy, quietly, investigate, appro...
..          ...                                                ...
965  2019-12-05  [[remain, see, reduction, output, impact, pric...
966  2019-12-11  [[oil, giant, ’s, share, reach, price, Riyadh,...
967  2019-12-12  [[immense, amount, methane, escape, oil, gas, ...
968  2019-12-17  [[state, District, Columbia, release, draft, p...
969  2019-12-24  [[size, location, parcel, attractive, piece, r...

[970 rows x 2 columns]

In [202]:
# lemma_combined_date_df.set_index('date', inplace=True)
# lemma_combined_date_df

In [213]:
#count data
counts = []
for x in lemma_combined_date_df[['combined_lemma_by_date']]:
    counts.append(Counter(x).most_common(10))

In [215]:
counts

[[('m', 3),
  ('e', 3),
  ('_', 3),
  ('b', 2),
  ('d', 2),
  ('a', 2),
  ('c', 1),
  ('o', 1),
  ('i', 1),
  ('n', 1)]]

In [214]:
lemma_combined_date_df['counts'] = counts

ValueError: Length of values does not match length of index